body{
    background-color:skyblue;
}
.container{
    width:600px;
    text-align: center;
    padding:20px;
    margin:auto;
    background-color: white;
    border:3px solid grey;
    margin:auto;
}
.t1{
    width:140%;
    padding:12px;
    color:black;
    font-size: 20px;
    margin:auto;
    
}
